<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%yellow(%d{HH:mm:ss.SSS}) %highlight(%level) %green([%thread]) %cyan(%logger{50}) - %msg%n</pattern>
    </encoder>
  </appender>
  <logger name="br.com.guilhermealvessilve.grpc" level="DEBUG"/>
  <logger name="io.netty" level="WARN"/>

  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>

</configuration>
